<header class="app-header">
  <div class="container">
    <h1 class="app-header-title"><a href="/">JudgeTV</a></h1>
    <ul class="app-header-user">
      <% if (user) { %>
        <li><%- linkTo('Log out', logoutPath, {class: 'btn'}) %></li>
      <% } else { %>
        <li><%- linkTo('log in with Facebook or Twitter', loginPath, {class: 'btn'}) %></li>
      <% } %>
    </ul>
  </div>
</header>