<% if (user) { %>
  <h1>
    Hello<% if (user.givenName) { %>, <%= user.givenName %><% } %>
  </h1>
  <p><%- linkTo('Click here to log back out', logoutPath) %></p>
<% } else { %>
  <p><%- linkTo('Click here to log in with Facebook or Twitter.', loginPath) %></p>
<% } %>

<script type="text/x-handlebars" data-template-name="application">
  <p>{{#link-to 'externalShows.search'}}new show{{/link-to}}</p>
  <p>{{#link-to 'shows'}}all shows{{/link-to}}</p>
  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="shows">
  {{errorMsg}}
  {{#each show in shows}}
    <li>
      {{#link-to 'show' show.id}} {{show.title}} {{/link-to}}
      {{#if ../user.admin}}
        <button {{action "deleteShow" show}}>delete</button>
      {{/if}}
    </li>
  {{/each}}
</script>

<script type="text/x-handlebars" data-template-name="show">
  {{show.title}}
  <ul>
  {{#each episodes itemController="episode"}}
    <li>{{name}} <button {{action "vote" 1}}>Upvote</button> <button {{action "vote" -1}}>downvote</button> {{voteCount}} </li>
  {{/each}}
  </ul>
</script>

<script type="text/x-handlebars" data-template-name="externalShows/search">
  {{input type="text" placeholder="Search shows by title" value=keyword action="search"}}
  <button {{action "search" keyword}}>Search</button>
  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="externalShows/search/results">
  <ul>
  {{#each}}
    <li>{{#link-to 'shows.new' this.id}}{{SeriesName}}{{/link-to}}</li>
  {{else}}
    No Results
  {{/each}}
  </ul>
</script>

<script type="text/x-handlebars" data-template-name="shows/new">
  <button {{action "createShow" this}}>Create</button>
  {{show.SeriesName}}
  {{#each episodes}}
    <p>{{EpisodeName}}</p>
  {{/each}}
</script>