<% if (user) { %>
  <h1>
    Hello<% if (user.givenName) { %>, <%= user.givenName %><% } %>
  </h1>
  <p><%- linkTo('Click here to log back out', logoutPath) %></p>
<% } else { %>
  <p><%- linkTo('Click here to create a user account.', addUserPath) %></p>
  <p><%- linkTo('Click here to log in with Facebook or Twitter.', loginPath) %></p>
<% } %>

<script type="text/x-handlebars" data-template-name="application">
  <p>{{#link-to 'shows.new'}}new show{{/link-to}}</p>
  <p>{{#link-to 'shows'}}all shows{{/link-to}}</p>
  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="shows">
  {{#each}}
    {{#link-to 'show' this}} {{title}} {{/link-to}}
  {{/each}}
</script>

<script type="text/x-handlebars" data-template-name="show">
  {{title}}
</script>

<script type="text/x-handlebars" data-template-name="shows/new">
  {{input type="text" placeholder="Show title" value=searchString action="searchShows"}}
  {{#if loading}}<p>loading</p>{{/if}}
  {{selectedShow.SeriesName}}
  {{#if episodes}}<button {{action "createShow"}}>Add Series</button>{{/if}}
  <ul>
    {{#each results}}
      <li {{action "getEpisodes" this}}>{{SeriesName}}</li>
    {{/each}}
  </ul>
  <ul>
    {{#each episodes}}
      <li>{{EpisodeName}}</li>
    {{/each}}
  </ul>
</script>
