<header class="app-header">
  <div class="container cf">
    <h1 class="app-header-title"><a href="/#/shows">TV Thing </a></h1>
    <ul class="app-header-nav">
      <li><a class="btn btn-white" href="/#externalShows/search">New Show</a></li>
      <% if (user) { %>
        <li><%- linkTo('Log out', logoutPath, {class: 'btn btn-white'}) %></li>
      <% } else { %>
        <li><%- linkTo('log in with Twitter', loginPath, {class: 'btn btn-white'}) %></li>
      <% } %>
    </ul>
  </div>
</header>