
<div class="hero-unit">

  <p style="text-align: center;">
    <a class="btn-auth btn-twitter large"
        href="<%= geddy.config.fullHostname %><%= twitterPath %>">
      Log in with Twitter
    </a>
  </p>
</div>
