$main: #039be5;
$secondary: #9b59b6;
$grey: #95a5a6;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #444;
  background: #e0e0e0;
}

h1, h2, h3, h4, h5, h6, ul, ol, p {
  font-weight: 400;
  margin-top: 0;
}

ul, ol, p {
  font-weight: 300;
}

ul, ol {
  padding-left: 0;
  list-style: none;
}

a {
  color: #444;
}

input {
  font-family: inherit;
  font-size: inherit;
  font-weight: 300;
  &:focus {
    outline: none;
  }
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.btn {
  display: inline-block;
  padding: 8px 12px;
  border: 2px solid white;
  border-radius: 3px;
  text-decoration: none;
}

.btn-white {
  border: 2px solid white;
  color: white;
}

.search {
  padding: 8px 12px;
  border: 0;
}

.container {
  @media (min-width: 1074px) {
    margin: 0 auto;
    max-width: 800px;
  }
}

.app-header {
  background: #673ab7;
  overflow: hidden;
  h1, ul {
    margin-bottom: 0;
  }
  h1 a {
    color: white;
  }
  .container {
    padding: 16px;
    background: rgba(0,0,0,0.15);
  }
}

.app-header-title {
  float: left;
  a {
    text-decoration: none;
  }
}

.app-header-nav {
  float: right;
  li {
    display: inline-block;
    margin-left: 10px;
  }
}

/* body */

.app-container {
  padding-top: 16px;
  // border-top: 3px solid #F5C138;
  background: white;
}

/* list view */

.list-view {
  border-radius: 4px;
  li {
    overflow: hidden;
    border-bottom: 1px solid rgba(#BFC4CA, 0.4);
    &:last-of-type {
      border-bottom: 0;
    }
  }
  a {
    padding: 16px;
    text-decoration: none;
    display: block;
    font-size: 20px;
  }
}

/* shows view */

.shows-search {
}

.shows-search-field {
  background: #f5f5f5;
  padding: 16px;
  width: 100%;
  font-size: 20px;
}

/* episodes view */

.season {
  display: none;
  &.open {
    display: block;
  }
}