<div class="info container">
  <p>Search the TVDB database for an episodes list of your favourite show.</p>
</div>
<div class="shows-search">
  <div class="container">
    {{input class="search shows-search-field" type="text" placeholder="Search the tvdb database for shows by title" value=keyword action="search"}}
  </div>
</div>
<div class="container app-container">
  {{outlet}}
</div>