{{errorMsg}}
{{input type="text" placeholder="Search shows by title" value=keyword action="search"}}
{{#each results}}
  <li>
    {{#link-to 'episodes' id}} {{title}} {{/link-to}}
    <button {{action "deleteShow" this}}>delete</button>
  </li>
{{/each}}