<div class="info container">
  <p>Before you marathon, find out which episodes are worth watching. Because your time is valuable. </p>
  <p>Or weigh in on which episodes fellow marathoners should watch, because your opinion is valuable.</p>
</div>
<div class="shows-search">
  <div class="container">
    {{input class="search shows-search-field" type="text" placeholder="Search shows by title" value=keyword action="search"}}
  </div>
</div>
<div class="container app-container">
  {{errorMsg}}
  <ul class="list-view shows-list">
  {{#each results}}
    <li>
      {{#link-to 'episodes' id}} {{title}} {{/link-to}}
      {{!-- <button {{action "deleteShow" this}}>delete</button> --}}
    </li>
  {{/each}}
  </ul>
</div>