/* Bourbon 4.0.2
 * http://bourbon.io
 * Copyright 2011-2014 thoughtbot, inc.
 * MIT License */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, ul, ol, p {
  font-weight: 400;
  margin-top: 0; }

ul, ol, p {
  font-weight: 300; }

ul, ol {
  padding-left: 0;
  list-style: none; }

a {
  color: #444; }

input {
  font-family: inherit;
  font-size: inherit;
  font-weight: 300; }
  input:focus {
    outline: none; }

.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

@media (min-width: 1074px) {
  .container {
    margin: 0 auto;
    max-width: 800px; } }

.app-container-inner {
  padding: 16px; }

.btn {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer; }

.btn-block {
  display: block;
  width: 100%; }

body {
  color: #444;
  background: #f5f5f5; }

.btn {
  border: 2px solid white; }

.btn-white {
  border: 2px solid white;
  color: white; }

.btn-dark {
  background: #4776E6;
  border-color: #4776E6;
  color: white; }

.app-header {
  background-color: #4776E6;
  background-image: -webkit-linear-gradient(-360deg, #4776E6 10%, #8E54E9 90%);
  background-image: linear-gradient(90deg,#4776E6 10%, #8E54E9 90%); }
  .app-header .container {
    background: rgba(0, 0, 0, 0.15); }
  .app-header h1 a {
    color: white; }

.app-container {
  background: white; }

.shows-search .container {
  background: white; }

.shows-search-field {
  border: 0;
  border-bottom: 2px solid #8E54E9; }

.show h2 {
  border-bottom: 2px solid #8E54E9; }

.season h3 {
  background: #fbfbfb; }

.episode h4 {
  color: #465ec3; }

.episode-vote-buttons button {
  background: white;
  border: 2px solid; }
.episode-vote-buttons .upvote {
  border-color: #8E54E9; }
  .episode-vote-buttons .upvote:after {
    border-color: transparent transparent #8E54E9 transparent; }
.episode-vote-buttons .downvote {
  border-color: #465ec3; }
  .episode-vote-buttons .downvote:after {
    border-color: #465ec3 transparent transparent transparent; }

.episode-vote-count {
  background: #465ec3;
  color: white; }

.app-header {
  overflow: hidden; }
  .app-header h1, .app-header ul {
    margin-bottom: 0; }
  .app-header .container {
    padding: 16px; }

.app-header-title {
  float: left; }
  .app-header-title a {
    text-decoration: none; }

.app-header-nav {
  float: right; }
  .app-header-nav li {
    display: inline-block;
    margin-left: 10px; }

.list-view {
  border-radius: 4px; }
  .list-view li {
    overflow: hidden;
    border-bottom: 1px solid rgba(191, 196, 202, 0.4); }
    .list-view li:last-of-type {
      border-bottom: 0; }
  .list-view a {
    padding: 16px;
    text-decoration: none;
    display: block;
    font-size: 20px; }

.shows-search .container {
  padding: 0 16px; }

.shows-search-field {
  width: 100%;
  font-size: 20px;
  padding: 16px 0; }

.show h2 {
  padding-bottom: 16px; }

.cta {
  margin-bottom: 16px; }

.season h3 {
  padding: 16px;
  line-height: 1;
  cursor: pointer; }

.season-episodes {
  display: none;
  padding: 0 16px; }
  .season-episodes.open {
    display: block; }

.episode {
  border-bottom: 1px solid rgba(191, 196, 202, 0.4);
  margin-bottom: 16px; }
  .episode h4 {
    font-size: 16px;
    margin-bottom: 8px;
    line-height: 1; }

.episode-header {
  overflow: hidden;
  margin-bottom: 8px; }

.episode-header-info {
  float: left; }
  .episode-header-info p {
    color: #252525;
    font-size: 12px;
    margin-bottom: 0; }

.episode-header-votes {
  float: right; }

.episode-vote-buttons {
  float: right;
  display: block; }
  .episode-vote-buttons button {
    display: block;
    width: 100%;
    border-radius: 3px;
    position: relative;
    text-indent: -9999px;
    padding: 1px 10px; }
    .episode-vote-buttons button:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      right: 4px;
      top: 4px;
      position: absolute; }
  .episode-vote-buttons .upvote {
    border-bottom-width: 1px;
    border-radius: 3px 3px 0 0; }
    .episode-vote-buttons .upvote:after {
      border-width: 0 6px 6px 6px; }
  .episode-vote-buttons .downvote {
    border-top-width: 1px;
    border-radius: 0 0 3px 3px; }
    .episode-vote-buttons .downvote:after {
      border-width: 6px 6px 0 6px;
      top: 5px; }

.episode-vote-count {
  float: right;
  padding: 6px 12px;
  border-radius: 3px;
  margin-left: 8px;
  font-size: 18px;
  font-weight: 700; }

.episode-desc {
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400; }
