/* Bourbon 4.0.2
 * http://bourbon.io
 * Copyright 2011-2014 thoughtbot, inc.
 * MIT License */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, ul, ol, p {
  font-weight: 400;
  margin-top: 0; }

ul, ol, p {
  font-weight: 300; }

ul, ol {
  padding-left: 0;
  list-style: none; }

a {
  color: #444; }

input {
  font-family: inherit;
  font-size: inherit;
  font-weight: 300; }
  input:focus {
    outline: none; }

.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

@media (min-width: 1074px) {
  .container {
    margin: 0 auto;
    max-width: 800px; } }

.app-container {
  padding-top: 16px; }

body {
  color: #444;
  background: #e0e0e0; }

.btn {
  border: 2px solid white; }

.btn-white {
  border: 2px solid white;
  color: white; }

.app-header {
  background-color: #24C6DC;
  background-image: -webkit-linear-gradient(-360deg, #24C6DC 10%, #514A9D 90%);
  background-image: linear-gradient(90deg,#24C6DC 10%, #514A9D 90%); }
  .app-header .container {
    background: rgba(0, 0, 0, 0.15); }
  .app-header h1 a {
    color: white; }

.app-container {
  background: white; }

.btn {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 3px;
  text-decoration: none; }

.search {
  padding: 8px 12px;
  border: 0; }

.app-header {
  overflow: hidden; }
  .app-header h1, .app-header ul {
    margin-bottom: 0; }
  .app-header .container {
    padding: 16px; }

.app-header-title {
  float: left; }
  .app-header-title a {
    text-decoration: none; }

.app-header-nav {
  float: right; }
  .app-header-nav li {
    display: inline-block;
    margin-left: 10px; }

.list-view {
  border-radius: 4px; }
  .list-view li {
    overflow: hidden;
    border-bottom: 1px solid rgba(191, 196, 202, 0.4); }
    .list-view li:last-of-type {
      border-bottom: 0; }
  .list-view a {
    padding: 16px;
    text-decoration: none;
    display: block;
    font-size: 20px; }

.shows-search-field {
  background: #f5f5f5;
  padding: 16px;
  width: 100%;
  font-size: 20px; }

.season {
  display: none; }
  .season.open {
    display: block; }
