/* Bourbon 4.0.2
 * http://bourbon.io
 * Copyright 2011-2014 thoughtbot, inc.
 * MIT License */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, ul, ol, p {
  font-weight: 400;
  margin-top: 0; }

ul, ol, p {
  font-weight: 300; }

ul, ol {
  padding-left: 0;
  list-style: none; }

a {
  color: #444; }

input {
  font-family: inherit;
  font-size: inherit;
  font-weight: 300; }
  input:focus {
    outline: none; }

.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

@media (min-width: 1074px) {
  .container {
    margin: 0 auto;
    max-width: 800px; } }

.app-container-inner {
  padding: 16px; }

.info {
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 16px; }
  .info p {
    margin-bottom: 0;
    padding: 10px; }

.error {
  padding: 16px;
  margin-bottom: 0; }

button:focus {
  outline: none;
  cursor: pointer; }

.btn {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer; }

.btn-block {
  display: block;
  width: 100%; }

body {
  color: #444;
  background: #262C2E; }

.btn {
  border: 2px solid #142374; }

.btn-white {
  border: 2px solid #142374;
  color: #142374; }

.btn-dark {
  background: #128b65;
  border-color: #128b65;
  color: white; }

.loading:after {
  background: #128b65; }

.app-header {
  background: white; }
  .app-header h1 a {
    color: #142374; }

.show h2 {
  color: white; }

.season h3 {
  background: #384144;
  border-top: 2px solid #1d2123;
  color: white; }

.episode {
  background: white; }

.episode-body {
  border-bottom: 1px solid black; }

.episode-meta {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  background: #128b65; }

.episode-vote-buttons button:hover {
  background: rgba(0, 0, 0, 0.1); }
.episode-vote-buttons .upvote:after {
  border-color: transparent transparent rgba(0, 0, 0, 0.5) transparent; }
.episode-vote-buttons .downvote:after {
  border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent; }

.episode-vote-count {
  background: rgba(0, 0, 0, 0.2);
  color: white; }

.info.container {
  background: #06a472;
  color: white; }

.error {
  background: #cd0030;
  color: white; }

.app-header {
  overflow: hidden; }
  .app-header h1, .app-header ul {
    margin-bottom: 0; }
  .app-header h1 {
    padding: 0; }
    .app-header h1 a {
      background-repeat: no-repeat;
      text-indent: -9999px;
      display: block;
      height: 38px;
      width: 44px;
      background: url('../images/tv-small.svg'); }
      @media (min-width: 768px) {
        .app-header h1 a {
          width: 159px;
          background: url('../images/tv.svg'); } }
  .app-header .container {
    padding: 16px; }
    @media (min-width: 1074px) {
      .app-header .container {
        padding: 16px 0; } }

.app-header-title {
  float: left; }
  .app-header-title a {
    text-decoration: none; }

.app-header-nav {
  float: right; }
  .app-header-nav li {
    display: inline-block;
    margin-left: 10px; }

.list-view {
  border-radius: 4px; }
  .list-view li {
    overflow: hidden;
    border-bottom: 1px solid rgba(191, 196, 202, 0.4); }
    .list-view li:last-of-type {
      border-bottom: 0; }
  .list-view a {
    padding: 16px;
    text-decoration: none;
    display: block;
    font-size: 20px; }

@-webkit-keyframes progress {
  from {
    -webkit-transform: scaleX(0); }

  to {
    -webkit-transform: scaleX(2); } }

@-moz-keyframes progress {
  from {
    -moz-transform: scaleX(0); }

  to {
    -moz-transform: scaleX(2); } }

@keyframes progress {
  from {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0); }

  to {
    -webkit-transform: scaleX(2);
    -moz-transform: scaleX(2);
    -ms-transform: scaleX(2);
    -o-transform: scaleX(2);
    transform: scaleX(2); } }

.loading {
  position: relative;
  position: absolute;
  width: 100%;
  text-indent: -9999px; }
  .loading:after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    height: 3px;
    width: 100%;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-name: progress;
    -moz-animation-name: progress;
    animation-name: progress;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }

.shows-search .container {
  padding: 0 16px;
  background: #495458; }

.shows-search-field {
  width: 100%;
  font-size: 20px;
  padding: 16px 0;
  background: #495458;
  color: white;
  border: none; }

.shows-container {
  background: white; }

.show h2 {
  margin-bottom: 0;
  padding: 16px; }
  @media (min-width: 1074px) {
    .show h2 {
      padding: 16px 0; } }

.cta {
  margin-bottom: 16px; }

.season h3 {
  padding: 16px;
  line-height: 1;
  cursor: pointer;
  margin-bottom: 0; }

.season-episodes {
  display: none; }
  .season-episodes.open {
    display: block; }

.episode {
  padding: 0 16px;
  margin-bottom: 16px;
  position: relative;
  display: table-row; }
  .episode h4 {
    font-size: 16px;
    margin-bottom: 8px;
    line-height: 1; }

.episode-cell {
  display: table-cell;
  vertical-align: top; }

.episode-meta {
  padding-right: 0; }

.episode-body {
  padding: 16px; }

.episode-header {
  overflow: hidden;
  margin-bottom: 8px; }

.episode-header-info p {
  font-size: 12px;
  margin-bottom: 0; }

.episode-vote-buttons {
  display: block; }
  .episode-vote-buttons button {
    display: block;
    width: 100%;
    border-radius: 0;
    position: relative;
    text-indent: -9999px;
    padding: 10px 10px;
    background: none;
    cursor: pointer;
    border: none; }
    .episode-vote-buttons button:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      top: 50%;
      position: absolute; }
  .episode-vote-buttons .upvote:after {
    border-width: 0 10px 10px 10px; }
  .episode-vote-buttons .downvote:after {
    border-width: 10px 10px 0 10px; }

.episode-vote-count {
  width: 50px;
  height: 50px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  line-height: 48px; }

.episode-desc {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400; }
