body {
  color: #444;
  background: #f5f5f5;
}

.btn {
  border: 2px solid white;
}

.btn-white {
  border: 2px solid white;
  color: white;
}

.btn-dark {
  background: #4776E6;
  border-color: #4776E6;
  color: white;
}

.app-header {
  @include linear-gradient(90deg, #4776E6 10%, #8E54E9 90%);
  .container {
    background: rgba(0,0,0,0.15);
  }
  h1 a {
    color: white;
  }
}

.app-container {
  background: white;
}

.shows-search {
  .container {
    background: white;
  }
}

.shows-search-field {
  border: 0;
  border-bottom: 2px solid #8E54E9;
}

.show {
  h2 {
    border-bottom: 2px solid #8E54E9;
  }
}

.season {
  h3 {
    background: #fbfbfb;
  }
}

.episode {
  h4 {
    color: #465ec3;
  }
}

.episode-vote-buttons {
  button {
    background: white;
    border: 2px solid;
  }
  .upvote {
    border-color: #8E54E9;
    &:after {
      border-color: transparent transparent #8E54E9 transparent;
    }
  }
  .downvote {
    border-color: #465ec3;
    &:after {
      border-color: #465ec3 transparent transparent transparent ;
    }
  }
}

.episode-vote-count {
  background: #465ec3;
  color: white;
}