$main: #142374;
$secondary: #128b65;
$mainDark: #1b234d;
$secondaryDark: #154d3b;

body {
  color: #444;
  background: #262C2E;
}

.btn {
  border: 2px solid $main;
}

.btn-white {
  border: 2px solid $main;
  color: $main;
}

.btn-dark {
  background: $secondary;
  border-color: $secondary;
  color: white;
}

.loading {
  &:after {
    background: $secondary;
  }
}

.app-header {
  background:white;
  h1 a {
    color: $main;
  }
}

.show {
  h2 {
    color: white;
  }
}

.season {
  h3 {    
    background: lighten(#262C2E, 8%);
    border-top: 2px solid darken(#262C2E, 4%);
    color: white;
  }
}

.episode {
  background:white;
}

.episode-body {
  border-bottom: 1px solid black;
}

.episode-meta {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  background:$secondary;
}

.episode-vote-buttons {
  button:hover {
    background:rgba(0,0,0,0.1);
  }
  .upvote {
    &:after {
      border-color: transparent transparent rgba(0,0,0,0.5) transparent;
    }
  }
  .downvote {
    &:after {
      border-color: rgba(0,0,0,0.5) transparent transparent transparent ;
    }
  }
}

.episode-vote-count {
  background:rgba(0,0,0,0.2);
  color: white;
}


.info.container {
  background:#06a472;
  color: white;
}


.error {
  background:#cd0030;
  color: white;
}