.app-header {
  overflow: hidden;
  h1, ul {
    margin-bottom: 0;
  }
  h1 {
    font-size: 20px;
    padding: 8px 0;
    @media (min-width: 1074px) {
      font-size: 32px;
      padding: 0;
    }
  }
  .container {
    padding: 16px;
  }
}

.app-header-title {
  float: left;
  a {
    text-decoration: none;
  }
}

.app-header-nav {
  float: right;
  li {
    display: inline-block;
    margin-left: 10px;
  }
}