.app-header {
  overflow: hidden;
  h1, ul {
    margin-bottom: 0;
  }
  h1 {    
    padding: 0;
    a {
      background-repeat: no-repeat;
      text-indent: -9999px;
      display: block;
      height: 38px;
      width: 44px;
      background:url('../images/tv-small.svg');
      @media (min-width: 768px) {        
        width: 159px;
        background:url('../images/tv.svg');
      }
    }
  }
  .container {
    padding: 16px;
     @media (min-width: 1074px) {
      padding: 16px 0;
    }
  }
}

.app-header-title {
  float: left;
  a {
    text-decoration: none;
  }
}

.app-header-nav {
  float: right;
  li {
    display: inline-block;
    margin-left: 10px;
  }
}