.app-header {
  overflow: hidden;
  h1, ul {
    margin-bottom: 0;
  }
  .container {
    padding: 16px;
  }
}

.app-header-title {
  float: left;
  a {
    text-decoration: none;
  }
}

.app-header-nav {
  float: right;
  li {
    display: inline-block;
    margin-left: 10px;
  }
}