.container {
  @media (min-width: 1074px) {
    margin: 0 auto;
    max-width: 800px;
  }
}

.app-container-inner {
  padding: 16px;
}

.info {
  padding: 16px 16px 0 16px;
  p {
    margin-bottom: 0;
    padding: 10px;
  }
}