@include keyframes(progress) {
  from {
    @include transform(scaleX(0));
  }
  to {
    @include transform(scaleX(2));
  }
}

.loading {
  position: relative;
  position: absolute;
  width: 100%;
  text-indent: -9999px;
  &:after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    height: 3px;
    width: 100%;
    @include transform(scaleX(0));
    @include transform-origin(top left);
    @include animation-name(progress);
    @include animation-duration(1s);
    @include animation-iteration-count(infinite);
  }
}