<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Geddy App | This app uses Geddy.js</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width" />
    <%- styleLink('/css/app.css', { rel: 'stylesheet' }) %>
    <%- scriptLink('main.js', {type: 'text/javascript'}) %>
  </head>

