<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Geddy App | This app uses Geddy.js</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width" />
    <%- styleLink('/css/app.css', { rel: 'stylesheet' }) %>
    <%- scriptLink('main.js', {type: 'text/javascript'}) %>
  </head>

