.season {
  h3 {
    padding: 16px;
    line-height: 1;
    cursor: pointer;
    margin-bottom: 0;
  }
}

.season-episodes {
  display: none;
  &.open {
    display: block;
  }
}

.episode {
  padding: 0 16px;
  margin-bottom: 16px;
  position: relative;
  display: table-row;
  h4 {
    font-size: 16px;
    margin-bottom: 8px;
    line-height: 1;
  }
}

.episode-cell {
  // padding: 16px;
  display: table-cell;
  vertical-align: top;
}

.episode-meta {
  padding-right: 0;
  // background:rgba(0,0,0,0.10);
}

.episode-body {
  padding: 16px;
  
}

.episode-header {
  overflow: hidden;
  margin-bottom: 8px;
}

.episode-header-info {
  // float: left;
  p {
    font-size: 12px;
    margin-bottom: 0;
  }
}

.episode-header-votes {
  // float: right;
}

.episode-vote-buttons {
  display: block;
  button {
    display: block;
    width: 100%;
    border-radius: 0;
    position: relative;
    text-indent: -9999px;
    padding: 10px 10px;
    background:none;
    cursor: pointer;
    border: none;
    &:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      top: 50%;
      position: absolute;
    }
  }
  .upvote {
    // border-bottom-width: 1px;
    // border-radius: 3px 3px 0 0;
    &:after {
      border-width: 0 10px 10px 10px;
    }
  }
  .downvote {
    // border-top-width: 1px;
    // border-radius: 0 0 3px 3px;
    &:after {
      border-width: 10px 10px 0 10px;
      // top: 5px;
    }
  }
}

.episode-vote-count { 
  width: 50px;
  height: 50px;
  // margin-left: 8px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  line-height: 48px;
}

.episode-desc {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}